## Pasos para el ETL

#### Importar las librerias

In [1]:
import pandas as pd
import numpy as np

#### Leer archivos y convertilos en Dataframe

In [2]:
df_amazon =  pd.read_csv('./Datasets/amazon_prime_titles.csv')
df_disney =  pd.read_csv('./Datasets/disney_plus_titles.csv')
df_hulu =  pd.read_csv('./Datasets/hulu_titles.csv')
df_netflix =  pd.read_json('./Datasets/netflix_titles.json',orient= 'record')

#### Visualizar los primeros 5 registros de cada dataframe

In [3]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [5]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [6]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### Verificar cuantos nulos tiene cada Dataframe

In [7]:
df_amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [8]:
df_disney.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [9]:
df_hulu.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [10]:
df_netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

#### Reemplazar los nulos de los dataframes

In [11]:
'''Por ahora se reemplazaran los valores por 'sin datos' para luego
hacer las correciones pertinentes'''
df_amazon= df_amazon.fillna('sin dato')
df_disney = df_disney.fillna('sin dato')
df_hulu = df_hulu.fillna('sin dato')
df_netflix = df_netflix.fillna('sin dato')

#### Verificamos si todavian hay nulos

In [12]:
df_amazon.isna().sum()
df_disney.isna().sum()
df_hulu.isna().sum()
df_netflix.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

#### Funciones para normalizar los datos

In [13]:
#Variable global
lista_rdo = []

def listaanidada(lista_aux):
    ''' Esta funcion sirve que sacar los elementos de la listas anidadas'''
    for i in lista_aux:
        if (type(i) == list): 
            listaanidada(i)
        elif i not in lista_rdo:
            lista_rdo.append(i)
        else:
            next
    return lista_rdo

def new_table(columna):
    ''' Esta funcion sirve para crear la tabla cast
    con los valores dentro de una culumna'''   
    
    # extraer los valores unicos
    category = pd.DataFrame(columna.unique(),columns = ['aux'])   
    #category['aux'] = category['aux'].str.lower()
    category['aux'] = category['aux'].str.split(', ')
    
    #
    list_category = []
    for i in category['aux'].tolist():
        if i not in list_category:
            list_category.append(i)
        else:
            next

    df_categoy = pd.DataFrame(listaanidada(list_category),columns = ['aux']).sort_values(by = ['aux']).reset_index(drop=True)
    df_categoy.insert(0, 'aux_id',df_categoy.index + 1)
    
    # Vaciar lista global
    global lista_rdo
    lista_rdo = []
    return df_categoy

def sepdurationcolum(df):
    ''' Esta funcion sirve para separar los valores de la columna duracion en
    dos culumnas:
    -season: (Seasons y Season) y min_movie(min y Min)''' 
    df['season']=df['duration'].apply( lambda i: i.split()[0] if i.split()[1]=='seasons' or i.split()[1]=='season' else '0')
    df['min']=df['duration'].apply( lambda i: i.split()[0] if i.split(" ",1)[1]=='min' or i.split(" ",1)[1]=='mins' else '0')
    return df

def lower(columna):
    ''' Esta funcion sirve para colocar en miniscula los valores de cada columna''' 
    return columna.str.lower()

def max1(dict):
    '''Esta funcion sirve para obtener el maximo llave- valor dentro de un dictcionario'''
    result, val = 0, ''
    for i, j in dict.items():
        if result < j:
            result = j
            val = i
    return val, dict[val]

#### Crear un dataframe con las plataformas

In [14]:
Plataform = {'platform_id': [1,2,3,4],
            'platform':['amazon','disney','hulu','netflix']
            }
df_platform = pd.DataFrame(Plataform)
df_platform

   platform_id platform
0            1   amazon
1            2   disney
2            3     hulu
3            4  netflix

#### Crear una nueva columna a cada dataframe para especificar la plataforma

In [15]:
df_amazon['platform_id'] = '1'
df_disney['platform_id'] = '2'
df_hulu['platform_id'] = '3'
df_netflix['platform_id'] = '4'

#### Unir dataframe y crear un nuevo id

In [16]:
df_integral = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], axis = 0)
df_integral = df_integral.drop(['show_id'],axis=1)
df_integral.insert(0, 'show_id',df_integral.index + 1)

#### Unificar las columnas

In [17]:
#Se colocoran todas los datos del dataframe en minusculas
df_integral['type']     = lower(df_integral['type'])
df_integral['title']    = lower(df_integral['title'])
df_integral['director'] = lower(df_integral['director'])
df_integral['cast']     = lower(df_integral['cast'])
df_integral['country']  = lower(df_integral['country'])
df_integral['duration'] = lower(df_integral['duration'])
df_integral['listed_in']= lower(df_integral['listed_in'])

#### Separar la columna duration del dataframe

In [18]:
#se separan en dos columnas season y min_movie
df_integral = sepdurationcolum(df_integral)

#cambiar el tipo de dato
df_integral['season'] = df_integral['season'].astype('int')
df_integral['min'] = df_integral['min'].astype('int')

#### Crear una nueva tabla type

In [19]:
type_df = new_table(df_integral['type'])
type_df = type_df.set_axis(['type_id','type'], axis= 1)
type_df.head()

   type_id     type
0        1    movie
1        2  tv show

#### Crear una nueva tabla country

In [20]:
country_df = new_table(df_integral['country'])
country_df = country_df.set_axis(['country_id','country'], axis= 1)
country_df.head()

   country_id      country
0           1
1           2  afghanistan
2           3      albania
3           4      algeria
4           5       angola

#### Crear una nueva tabla gender

In [21]:
gender_df = new_table(df_integral['listed_in'])
gender_df = gender_df.set_axis(['gender_id','gender'], axis= 1)
gender_df.head()

   gender_id              gender
0          1              action
1          2  action & adventure
2          3    action-adventure
3          4     adult animation
4          5           adventure

#### Crear una nueva tabla cast

In [22]:
cast = new_table(df_integral['cast'])
cast = cast.set_axis(['cast_id','cast'], axis= 1) # 3min
cast.head()

   cast_id                cast
0        1
1        2         aadar malik
2        3        aakash gupta
3        4   abhishek banerjee
4        5             abishek

#### Normalizando el Dataframe

In [23]:
#Reemplazando los valores de las columnas por la nueva tabla con por sus Id
df_integral = df_integral.merge(type_df, left_on='type', right_on='type', how='inner')

#### Guardar el dataframe en un csv

In [24]:
df_integral.to_csv('./Datasets/df_integral.csv', index=False)

### Consultas
##### 1- Máxima duración según tipo de film (película/serie),por plataforma y por año: El request debe ser: get_max_duration(año, plataforma, [min o season])

In [25]:
def get_max_duration(year, platform, duration):
    df = df_integral[df_integral['release_year'] == year]
    df = df[df['platform_id'] == platform.lower()]
    max = df[duration].max()
    title = df[df[duration]==max]['title']
    title = title.tolist()
    title= title[0]
    return title

In [26]:
get_max_duration(2018,'hulu','min')

IndexError: list index out of range

##### 2- Cantidad de películas y series (separado) por plataforma El request debe ser: get_count_plataform(plataforma)

In [ ]:
def get_count_plataform(plataforma):
    plataforma= plataforma.lower()
    df = df_integral[df_integral['platform_id'] == plataforma]
    df_movie = df[df['type']== 'movie']
    df_tv_show = df[df['type']== 'tv show']
    return(plataforma,len(df_movie),len(df_tv_show))

In [ ]:
get_count_plataform('Netflix')

('netflix', 6131, 2676)

##### 3- Cantidad de veces que se repite un género y plataforma con mayor frecuencia del mismo. El request debe ser: get_listedin('genero')

In [ ]:
def get_listedin(gender):
    gender = gender.lower()
    mask= df_integral['listed_in'].str.contains(gender)
    count = {'amazon':0,'disney':0, 'hulu':0, 'netflix':0}
    for i in df_integral[mask]['platform_id']:
        if i == 'amazon':
            count['amazon'] +=1
        elif i == 'disney':
            count['disney'] +=1
        elif i == 'hulu':
            count['hulu']   +=1
        elif i == 'netflix':
            count ['netflix']+=1
    maximo = max1(count)
    return maximo

In [ ]:
get_listedin('Comedy')

('amazon', 2099)

##### 4-Actor que más se repite según plataforma y año. El request debe ser: get_actor(plataforma, año)

In [ ]:
def get_actor(platform, year):
    platform = platform.replace("'","")
    platform = platform.lower()
    actores, repeticiones = list(), list()
    Cast_list = list(df_integral[(df_integral.platform_id == platform) & (df_integral.release_year == year)].cast.fillna('sin dato'))

    for each in Cast_list:
        if not(each == 'sin dato' or each is None):
            lista = each.split(",")
            for elem in lista:
                elem = elem.strip()
                if elem in actores:
                    repeticiones[actores.index(elem)] += 1
                else:    
                    actores.append(elem)
                    repeticiones.append(1)
    if actores == []: return 'No hay datos'
    return (platform, max(repeticiones), actores[repeticiones.index(max(repeticiones))])

In [ ]:
get_actor('netflix',2018)

('netflix', 8, 'andrea libman')

In [ ]:
a = {'amazon':2,'marian':3}
max(a), max(a.values())

('marian', 3)